/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --navbar-height: 80px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  /* position: relative; */
  position: sticky;
  top: 0px;
}

/*Logo and Image*/
#logo {
  margin: 10px 25px;
}

#logo img {
  width: 50px;
  height: 50px;
}

/* List Styling */
#navbar ul {
  display: flex;
}

#navbar:before {
  content: "";
  background-color: #040228;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;

  /*opacity:0.4;for light the colour of the background*/
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  border-radius: 20px;

  display: block;
  padding: 3px 20px;
  text-decoration: none;
  color: white;
  font-family: cursive;
}

#navbar ul li a:hover {
  border: 2px solid white;
  background-color: white;
  color: #0075c7;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  height: 530px;
}

#home::before {
  content: "";
  background: url("../image/book1.jpg") no-repeat center center/cover;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: 100% 100%; */
  position: absolute;
  height: 642px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.89;
}

#home h1 {
  color: white;
  text-align: center;
  font-family: cursive;
}

#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: cursive;
}

html {
  scroll-behavior: smooth;
}

/* Utilityh Classes */
.h-primary {
  font-size: 3.8rem;
  padding: 25px;
}

.btn {
  padding: 6px 20px;
  border: 2px solid rgb(6, 7, 0);
  background-color: rgb(218, 250, 86);
  font-family: cursive;
  margin: 17px;
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
}

/* Services Center */
#services {
  margin: 34px;
  display: flex;
}

#services .box img {
  height: 100px;
  width: 200px;
  display: block;
  margin: 2px auto;
}

#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 25px 25px;
  border-radius: 23px;
  background-color: beige;
}

#services .box p {
  font-family: cursive;
}

#services {
}

/* client section */
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients img {
  height: 60px;
  width: 300px;
}

/* #clients-items{ */
/* padding:34px; */
/* } */
#client-section {
  height: 344px;
  position: relative;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url("../image/img10.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

#client-section img {
  padding: 50px;
}

/* Conatct Section  */
#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url("../image/img16.jpg") no-repeat center center/cover;
}

footer {
  background: black;
  color: white;
  padding: 9px 20px;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: cursive;
}

#contact-box form {
  width: 40%;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  border: 2px solid black;
}

.center {
  text-align: center;
}

.h-secondary {
  font-size: 2.3rem;
  padding: 12px;
}
